body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFFF;
    margin: 0px 90px;
    padding: 0px;
    width: 1321px;
}
.top-banner{
    justify-content: center;
}

.top-container{
    background-color: #161616;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 50px 50px 0px 110px; */
    margin: 50px 0;
}
.top-text{
    align-items: center;
}
.top-container .top-image img{
    width: 581px;
    height: 613px;
    position: absolute;
    top: 83px;
}
.top-container .top-text{
    margin-left: 150px;
}
.top-container .top-text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: white;
    margin-top: 100px;
}
.top-container .top-text p{
    font-size: 16px;
    color: white;
    margin-top: -50px;
}   
.top-container .top-text a{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 25px;
    border-radius: 5px;
}
.top-button{
    margin-top: 40px;
}

.fa-solid.fa-angle-right {
    font-size: 20px;
    margin-left: 25px;
}

/* Mid Section Start */
.mid-section{
    margin-top: 140px;
}

.side-menu{
    background: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 280px;
    height: 280px;
    padding: 15px;
}
.menu{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    height: 30px;
}
.menu a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    /* padding: 15px 30px;
    border-radius: 10px;
    background-color: yellow; */
    
}
.menu:hover{
    background-color: red;
    color: #FFFFFF;
}
.menu a:hover{
    color: white;
}
.mid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.all-flags{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    align-items: center;
}
.matches{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* border: 1px solid lightblue; */
    border-radius: 25px;
    width: 312px;
    height: 242px;
    
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px rgb(179, 179, 179); 
}
.match{
    
   
    width: 260px;
    height: 140px;
    
    border-radius: 10px;
    padding: 10px;
    
}

.flags{
    
    display: flex;
    margin: 9.9px;
    

}
.flags div{
    margin: 5px; 
}
.flags img{
    width: 93px;
    height: 54.42px;
}

.match .vs{
    text-align: center;
    margin-top: -22px;
}
.vs p{
    margin-top: -15px;
}
.flag-vs h2{
    font-size: 26px;
    width: 26px;
    height: 24px;
    margin-top: 12px;
}
.flags .flag-vs{
    align-items: center;
    padding-top: -0px;
    
}